name: CI

on:
  push:
    branches:
      master
  pull_request:
    branches:
      master

env:
  VST3_SDK_DIR: ${{ github.workspace }}/vst3sdk

jobs:
  ci:
    name: Build and run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Check out VST3 SDK
        uses: actions/checkout@v3
        with:
          repository: coupler-rs/vst3_pluginterfaces
          path: vst3sdk/pluginterfaces
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install libclang (Linux)
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install llvm-dev libclang-dev clang
      - name: Install libclang (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          choco install llvm
      - name: Install libclang (macOS)
        if: contains(matrix.os, 'macOS')
        run: |
          brew install llvm
          echo "LIBCLANG_PATH=/usr/local/opt/llvm/lib/libclang.dylib" >> $GITHUB_ENV
      - name: Build
        run: cargo build --workspace
      - name: Run tests
        run: cargo test --workspace
